.container{
    background-color: skyblue;
    padding: 5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    border-radius: 20px 20px 50px 50px;
    color: antiquewhite;
    justify-content: center;
    width: 100%;
    height: 100vh;
    font-size: large;
}
.container{
    background-color: skyblue;
    padding: 5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    border-radius: 20px 20px 50px 50px;
    color: antiquewhite;
    justify-content: center;
    width: 100%;
    height: 100vh;
    font-size: large;
}